__pycache__
*.pyc
AudioBookSiteDjango/.venv
AudioBookSiteDjango/AudioBook/migrations/**
AudioBookSiteDjango/AudioBook/static/pic
AudioBookSiteDjango/AudioBook/static/zip
AudioBookSiteDjango/db.sqlite3
