body {
  background-image: url("../static/img/white-and-gray-geometric-pattern-background-vector.jpg");
}

div {
  position: relative;
  background-color: transparent;
}

td {
  padding: 5px;
}

.main {
  padding: 8px; 
  background-color: rgba(103, 128, 128, 0.3);
  margin: 20px;
  font-size: 24px;
}


.container {
    column-count: 4;
}

.fit-picture {
    width: 250px;
}

.inner {
/*  border: 1px solid #000; */
  background-color: transparent;
  position: absolute;
  top: -21px;
  left: -21px;
  width: 100px;
  height: 100px;
}

.mainmenu{
  /* Добавим фоновый цвет для нашего меню */
  background: #a8c5ce;
  /* Выставим высоту */
  height: 50px;
  /* Уберем точки у li элементов */
  list-style-type: none;
  /* добавим отступ, чтобы крайние значения меню не были прижаты в плотную к границам меню */
  padding: 20px;
  /* Используем flexbox */  
  display: flex;
  justify-content: space-between;
  /* Дополнительно сделаем вертикальное выравнивание */
  align-items: center;
}

.tree{
  --spacing : 1.5rem;
  --radius  : 10px;
}

.tree li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.tree ul li{
  border-left : 2px solid #ddd;
}

.tree ul li:last-child{
  border-color : transparent;
}

.tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}

.tree summary{
  display : block;
  cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
  display : none;
}

.tree summary:focus{
  outline : none;
}

.tree summary:focus-visible{
  outline : 1px dotted #000;
}

.tree li::after,
.tree summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : #ddd;
}

.tree summary::before{
  content     : '+';
  z-index     : 1;
  background  : #696;
  color       : #fff;
  line-height : calc(2 * var(--radius) - 2px);
  text-align  : center;
}

.tree details[open] > summary::before{
  content : '−';
}
