{% load static %}
{% load mptt_tags %}

{% block content %}
    <div class="bookmain">
        <table>
            <tr>
                <td width="350", valign="top">
                    <p class="booktitle">{{ book.title }}</p>    
                    <p class="bookbase">Год издания: {{ book.year }}</p>
                    
                    {% if book.writers.all|length > 1 %}
                        <p class="base">Авторы:</p>
                    {% else %}
                        <p class="base">Автор:</p>
                    {% endif %}
                    {% for w in book.writers.all %}
                        <p style="font-size: 20px"><a href="/author/{{w.id}}">{{w}}</a></p>
                    {% endfor %}
                    {% if book.cycle != None %}
                        <p class="base">Цикл:</p>
                        <p style="font-size: 20px"><a href="/cycle/{{book.cycle.id}}">{{book.cycle}}</a></p>
                    {% endif %}
                </td>
                {% for r in book.releases.all %}
                    <td valign="top">
                        <div class="fit-picture">
                            <p><img class="fit-picture" src="{% static "pic/" %}{{r.pic}}" alt="{{book.title}}"></p>
                            {% if r.new %}
                                <p><img class="image_new" src="{% static "images/new.png" %}"></p>
                            {% endif %}
                        </div>
                    </td>
                    <td width="250", valign="top">
                        <p style="font-size: 20px">Озвучка:</p>
                        {% for w in  r.readers.all %}
                            <p style="font-size: 20px"><a href="/author/{{w.id}}">{{w}}</a></p>
                        {% endfor%}
                        <p style="font-size: 24px"><a href="{% static "zip/" %}{{r.zip}}">Загрузить</a></p>
                    </td> 
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}    